<h1>Add a new movie</h1>
<p class="lead">Found a good YouTube movie that you want to share with the Meme Tube community? Add it here!</p>

<form action="/add" method="POST">
<p>
	<div class="row">
  		<table class="table">

    	<thead>
      		<tr>
        		<th>Title</th>
        		<th>Description</th>
        		<th>Video</th>
        		<th>Genre</th>
      		</tr>
    	</thead>

    	<tbody>
    		<tr>
    			<td><input type="text" id="title" name="title"/></td>
    			<td><input type="text" id="description" name="description"/></td>
    			<td><input type="text" id="video_id" name="video_id"/></td>
    			<td><input type="text" id="genre" name="genre"/></td>
    		</tr>
    	</tbody>

    	</table>
    </div>
</p>

<p>
<button type="submit" class="btn btn-sm btn-default">Submit new video</button>
</p>
</form>