<h1>Add a new movie</h1>
<p class="lead">Found a good YouTube movie that you want to share with the Meme Tube community? Add it here!</p>

<p>
	<div class="row">
  		<table class="table">

    	<thead>
      		<tr>
        		<th>Title</th>
        		<th>Description</th>
        		<th>Video</th>
        		<th>Genre</th>
      		</tr>
    	</thead>

    	<tbody>
    		<tr>
    			<td><input /></td>
    			<td><input /></td>
    			<td><input /></td>
    			<td><input /></td>
    		</tr>
    	</tbody>

    	</table>
    </div>
</p>

<p>
<button type="button" class="btn btn-sm btn-default">Submit new video</button>
</p>